{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-8 mt-5">    
            <h3 class="mb-4">Kapcsolat</h3>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
